<div class="footer">
  <div class="column">
    <h1>Compony</h1>
    <ul>
      <li>About Us</li>
      <li>Contact Us</li>
      <li>Vacancy</li>
      <li>Compony</li>
    </ul>
  </div>

  <div class="column">
    <h1>User</h1>
    <ul>
      <li>Axrorbek Kochkorov</li>
      <li>Azizbek Kochkorov</li>
      <li>Ikromiddinov Bahodirjon</li>
    </ul>
  </div>

  <div class="column" style="width: 300px !important;">
    <h1>Contact Us</h1>
    <input type="text" placeholder="Enter email here">
    <button>Send Email</button>
  </div>
</div>
