<div class="fairs">
  <img src="assets/download.png" alt="">
  <div class="title">
    <div>
      <h1 class="online-books">Online books</h1>
      <h1> Fairs 2023</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, praesentium.</p>
      <button>
        Create Account
        <svg style="margin-bottom: -4px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z"/>
        </svg>
      </button>
      <span class="top-right"></span>
      <span class="bottom-right"></span>
    </div>
  </div>
</div>
